<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<h1>List of Cars</h1>

<table>
    <thead>
    <tr>
        <th>Model</th>
        <th>Age</th>
        <th>Distance</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.model}"></td>
        <td th:text="${car.age}"></td>
        <td th:text="${car.distance}"></td>
    </tr>
    </tbody>
</table>

<div>
    <a href="/cars?count=1">Show 1 Cars</a> |
    <a href="/cars?count=2">Show 2 Cars</a> |
    <a href="/cars?count=3">Show 3 Cars</a> |
    <a href="/cars?count=4">Show 4 Cars</a> |
    <a href="/cars?count=5">Show 5 Cars</a>
</div>
</body>
</html>
